* {
    margin: 0;
    padding: 0;
    font-family: 'jetbrainsmedium';
}

body {
    background: #222123;
    margin: 0; 
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.wrapper {
    background: #2d2e30;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px; 
    height: 100%; 
    padding: 20px 0;
    transition: all 0.5s ease;
}

.menu ul {
    list-style-type: none;
    margin-bottom: auto; 
}

.menu li {
    margin-bottom: 20px; 
}

/* .menu a {
    font-family: oxygen;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.menu a span {
    margin-top: 5px; 
}

.menu a:hover {
    color: beige;
} */

.menu a {
    font-family: oxygen;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    font-size: 15px;
}

.menu a span {
    margin-top: 5px;
    position: relative; 
}

.menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s; 
}

.menu a:active:not(.telegram-btn),
.menu a:focus:not(.telegram-btn) {
    color: turquoise; 
}

.container {
    overflow-y: auto;
    position: relative;
}
.main, .projects-page {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 105px;
    bottom: 0;
    right: 0;
    overflow-y: auto; 
    transition: opacity 0.5s, transform 0.5s;
}

.projects-page {
    opacity: 0;
    transform: translateY(100%);
}

.projects-page h1 {
    color: aliceblue;
}

.menu a:active::before {
    height: 3px;
}

.menu a:hover::before {
    width: 100%;
    background-color: beige;
}

.menu a i {
    font-weight: 400; 
    transition: font-weight 0.3s ease; 
}

.menu a:hover i {
    font-weight: 700; 
}

.search-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #a7a7a7;
    border-radius: 20px;
    padding: 5px 10px;
}

#searchInput {
    background: #2d2e30;
    outline: none;
    width: 200px;
}

.projects-list {
    position: absolute;
    bottom: 15px; 
    left: 15px; 
    right: 15px; 
    max-height: calc(50% - 30px);
    background-color: #464646;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    min-height: 600px;
    overflow-y: auto;
}

.projects-list article {
    background-color: #292929;
    box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.3);
    border-radius: 10px; 
    margin-bottom: 10px; 
    padding: 20px; 
}

.projects-list article h1,
.projects-list article p {
    color: #a7a7a7;
}

.projects-list article h2{
    color: aliceblue;
}

.not-found {
    display: none;
    text-align: center;
}

.projects-list.show-not-found .not-found {
    display: block;
}

.search-bar-list {
    box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.3);
    background-color: #424242;
    border-radius: 10px;
    padding: 5px; 
    margin: 5px; 
}

.search-bar-list input[type="text"] {
    width: calc(100% - 10px); 
    background-color: #464646; 
    border: none; 
    border-radius: 5px; 
    padding: 5px; 
    box-sizing: border-box; 
}


/* .main {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 105px;
    bottom: 0;
    right: 0;
    overflow-y: auto; 
} */

.main h1 {
    color: aliceblue;
}

@font-face {
    font-family: 'jetbrainsmedium';
    src: url('fonts/jetbrains.ttf') format('truetype');
}

@font-face {
    font-family: "oxygen";
    src: url('fonts/oxygen.ttf') format('truetype');
}
