*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: White;
}
header{
    display: flex;
    justify-content: center;
}
.menu{
    display: inline-block;
}
.menu li{
    display: inline-block;
}