*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: White;
}
header{
    display: flex;
    justify-content: center;
}
.menu{
    display: inline-block;
}
.menu li{
    display: inline-block;
}
.menu a{
    font-family: jetbrainsmedium;
    color: white;
}
@font-face {
    font-family: 'jetbrainsmedium';
    src: url('font.ttf') format('truetype');
}